<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork865-2023-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
!pip install sqlalchemy==1.3.9

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.0/6.0 MB 59.5 MB/s eta 0:00:00:00:010:01
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py) ... done
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp37-cp37m-linux_x86_64.whl size=1159121 sha256=430cad7932f88e01d84dfb9343f03ddba4091e91c9e6072b4ffdb32e9d3af199
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/03/71/13/010faf12246f72dc76b4150e6e599d13a85b4435e06fb9e51f
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.24
    Uninstalling SQLAlchemy-1.3.24:
      Successfully uninstalled SQLAlchemy-1.3.24
Successfully installed sqlalchemy-1.3.9

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
%load_ext sql

In [3]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [4]:
!pip install -q pandas==1.1.5

In [5]:
%sql sqlite:///my_data1.db

'Connected: @my_data1.db'

In [17]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/pandas/core/generic.py:2882: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  both result in 0.1234 being formatted as 0.12.

In [29]:
# df.head()
# df
!pip install --upgrade pandas

Requirement already satisfied: pandas in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (1.1.5)
Collecting pandas
  Downloading pandas-1.3.5-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.3/11.3 MB 65.7 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: python-dateutil>=2.7.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.17.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas) (1.21.6)
Requirement already satisfied: six>=1.5 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 1.1.5
    Uninstalling pandas-1.1.5:
      Successfully uninstalled pandas-1.1.5
Successfully installed pandas-1.3.5

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [30]:
# df.query('SELECT DISTINCT "Launch_Sites" FROM SPACEXTBL;')
# Execute the SQL query
result = pd.read_sql_query("SELECT DISTINCT Launch_Site FROM SPACEXTBL", con)

# Display the unique launch sites
print(result["Launch_Site"])

0     CCAFS LC-40
1     VAFB SLC-4E
2      KSC LC-39A
3    CCAFS SLC-40
4            None
Name: Launch_Site, dtype: object


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [31]:
# result = pd.read_sql_query("SELECT * FROM SPACEXTBL WHERE Launch_Site LIKE 'CCA%' LIMIT 5", con)
# result
result = pd.read_sql_query("""SELECT * FROM SPACEXTBL WHERE Launch_Site LIKE 'CCA%' LIMIT 5""", con)

print(result)

         Date Time (UTC) Booster_Version  Launch_Site  \
0  06/04/2010   18:45:00  F9 v1.0  B0003  CCAFS LC-40
1  12/08/2010   15:43:00  F9 v1.0  B0004  CCAFS LC-40
2  22/05/2012    7:44:00  F9 v1.0  B0005  CCAFS LC-40
3  10/08/2012    0:35:00  F9 v1.0  B0006  CCAFS LC-40
4  03/01/2013   15:10:00  F9 v1.0  B0007  CCAFS LC-40

                                             Payload  PAYLOAD_MASS__KG_  \
0               Dragon Spacecraft Qualification Unit                0.0
1  Dragon demo flight C1, two CubeSats, barrel of...                0.0
2                              Dragon demo flight C2              525.0
3                                       SpaceX CRS-1              500.0
4                                       SpaceX CRS-2              677.0

       Orbit         Customer Mission_Outcome      Landing_Outcome
0        LEO           SpaceX         Success  Failure (parachute)
1  LEO (ISS)  NASA (COTS) NRO         Success  Failure (parachute)
2  LEO (ISS)      NASA (COTS)         Success           No attempt
3  LEO (ISS)       NASA (CRS)         Success           No attempt
4  LEO (ISS)       NASA (CRS)         Success           No attempt

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [33]:
result = pd.read_sql_query("SELECT SUM(Payload_Mass__kg_) AS total_payload_mass FROM SPACEXTBL WHERE Customer = 'NASA (CRS)'", con)

print(result['total_payload_mass'].values[0])

45596.0

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [34]:
# Execute the SQL query
result = pd.read_sql_query("SELECT AVG(Payload_Mass__kg_) AS average_payload_mass FROM SPACEXTBL WHERE Booster_Version = 'F9 v1.1'", con)

print(result['average_payload_mass'].values[0])

2928.4

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [35]:
result = pd.read_sql_query("SELECT MIN(Date) FROM SPACEXTBL WHERE Landing_Outcome = 'Success (ground pad)'", con)

print(result['MIN(Date)'].values[0])

01/08/2018

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [36]:
result = pd.read_sql_query("SELECT Booster_Version FROM SPACEXTBL WHERE Landing_Outcome = 'Success (drone ship)' AND Payload_Mass__kg_ > 4000 AND Payload_Mass__kg_ < 6000", con)
print(result['Booster_Version'])

0       F9 FT B1022
1       F9 FT B1026
2    F9 FT  B1021.2
3    F9 FT  B1031.2
Name: Booster_Version, dtype: object

### Task 7




##### List the total number of successful and failure mission outcomes

In [38]:
result = pd.read_sql_query("SELECT Mission_Outcome, COUNT(*) AS count FROM SPACEXTBL GROUP BY Mission_Outcome", con)
print(result)

                    Mission_Outcome  count
0                              None    898
1               Failure (in flight)      1
2                           Success     98
3                          Success       1
4  Success (payload status unclear)      1

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [39]:
result = pd.read_sql_query("SELECT Booster_Version FROM SPACEXTBL WHERE Payload_Mass__kg_ = (SELECT MAX(Payload_Mass__kg_) FROM SPACEXTBL)", con)
print(result['Booster_Version'])

0      F9 B5 B1048.4
1      F9 B5 B1049.4
2      F9 B5 B1051.3
3      F9 B5 B1056.4
4      F9 B5 B1048.5
5      F9 B5 B1051.4
6      F9 B5 B1049.5
7     F9 B5 B1060.2
8     F9 B5 B1058.3
9      F9 B5 B1051.6
10     F9 B5 B1060.3
11    F9 B5 B1049.7
Name: Booster_Version, dtype: object

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 4, 2) as month to get the months and substr(Date,7,4)='2015' for year.**

In [43]:
# result = pd.read_sql_query('''\
# SELECT \
#     CASE\
#         WHEN substr("Date", 4, 2) = '01' THEN 'January'\
#         WHEN substr("Date", 4, 2) = '02' THEN 'February'\
#         WHEN substr("Date", 4, 2) = '03' THEN 'March'\
#         WHEN substr("Date", 4, 2) = '04' THEN 'April'\
#         WHEN substr("Date", 4, 2) = '05' THEN 'May'\
#         WHEN substr("Date", 4, 2) = '06' THEN 'June'\
#         WHEN substr("Date", 4, 2) = '07' THEN 'July'\
#         WHEN substr("Date", 4, 2) = '08' THEN 'August'\
#         WHEN substr("Date", 4, 2) = '09' THEN 'September'\
#         WHEN substr("Date", 4, 2) = '10' THEN 'October'\
#         WHEN substr("Date", 4, 2) = '11' THEN 'November'\
#         WHEN substr("Date", 4, 2) = '12' THEN 'December'\
#         ELSE 'Invalid Month'\
#     END AS Month_Name,\
#     "Landing_Outcome",\
#     "Booster_Version",\
#     "Launch_Site"\
# FROM SPACEXTBL\
# WHERE substr("Date", 7, 4) = '2015' AND "Landing_Outcome" LIKE '%Failure%' AND "Landing_Outcome" LIKE '%drone ship%';''',con)
# print(result)

result = pd.read_sql_query("SELECT CASE WHEN substr(Date, 4, 2) = '01' THEN 'January' WHEN substr(Date, 4, 2) = '02' THEN 'February' WHEN substr(Date, 4, 2) = '03' THEN 'March' WHEN substr(Date, 4, 2) = '04' THEN 'April' WHEN substr(Date, 4, 2) = '05' THEN 'May' WHEN substr(Date, 4, 2) = '06' THEN 'June' WHEN substr(Date, 4, 2) = '07' THEN 'July' WHEN substr(Date, 4, 2) = '08' THEN 'August' WHEN substr(Date, 4, 2) = '09' THEN 'September' WHEN substr(Date, 4, 2) = '10' THEN 'October' WHEN substr(Date, 4, 2) = '11' THEN 'November' WHEN substr(Date, 4, 2) = '12' THEN 'December' ELSE 'Invalid Month' END AS Month_Name, Landing_Outcome, Booster_Version, Launch_Site FROM SPACEXTBL WHERE substr(Date,7,4)='2015' AND Landing_Outcome LIKE '%Failure%' AND Landing_Outcome LIKE '%drone ship%'", con)
print(result)

  Month_Name       Landing_Outcome Booster_Version  Launch_Site
0    October  Failure (drone ship)   F9 v1.1 B1012  CCAFS LC-40
1      April  Failure (drone ship)   F9 v1.1 B1015  CCAFS LC-40

### Task 10

##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [44]:
result = pd.read_sql_query("SELECT Landing_Outcome, COUNT(*) AS count FROM SPACEXTBL WHERE Date BETWEEN '2010-06-04' AND '2017-03-20' GROUP BY Landing_Outcome ORDER BY count DESC", con)
print(result)

Empty DataFrame
Columns: [Landing_Outcome, count]
Index: []

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>